In [ ]:
from google.colab import files

# Upload a file from your local system
uploaded = files.upload()

# Optional: Access the uploaded file as a DataFrame (if it's a CSV)
import pandas as pd

# Get the filename from the uploaded dictionary
filename = list(uploaded.keys())[0]
df = pd.read_csv(filename)

# Display the DataFrame
df.head()

Saving data_final.csv to data_final (4).csv

,Unnamed: 0,city,Stakeholder & Community Engagement,GHG Emissions Inventory,Climate Change Risk Assessment (CCRA),City Needs Assessment,Strategy Identification,Action Prioritization & Detailing,Equity & Inclusivity,"Monitoring, Evaluation & Reporting (MER)",Cluster,Population,Median Income,Mean Income,Population with Bachelors Degree and more,Revenue
0,0,Algonquin,4,3,5,0,5,2,3,4,2,29700,131753,146691,6328,52072812
1,1,Alsip,0,0,0,0,1,0,0,1,0,17668,67557,81864,1829,66064872
2,2,Bannockburn,2,0,0,0,2,3,0,3,1,1013,195625,372745,292,6364217
3,3,Normal,4,0,0,1,5,4,3,4,1,52736,66350,92868,10791,92112311
4,4,Brookfield,4,0,0,1,5,3,3,3,1,18978,108429,126746,3566,53816011

In [ ]:
df = df.drop(index=27).reset_index(drop=True)

In [ ]:
from sklearn.cluster import KMeans

population_data = df['Population'].values.reshape(-1, 1)


kmeans = KMeans(n_clusters=3, random_state=42, n_init='auto') # n_init='auto' suppresses a future warning
kmeans.fit(population_data)

# Step 4: Add the cluster labels to the DataFrame
# The cluster assignments are stored in kmeans.labels_
df['Population Cluster'] = kmeans.labels_

# Display the DataFrame with the new cluster column
print("DataFrame with Population Clusters:")
print(df)

# You can also check the cluster centers (mean population for each cluster)
print("\nCluster Centers (Mean Population for each cluster):")
print(kmeans.cluster_centers_)

DataFrame with Population Clusters:
    Unnamed: 0               city  Stakeholder & Community Engagement  \
0            0          Algonquin                                   4
1            1              Alsip                                   0
2            2        Bannockburn                                   2
3            3             Normal                                   4
4            4         Brookfield                                   4
5            5         Carbondale                                   4
6            6        Countryside                                   2
7            7            Decatur                                   2
8            8          Deer Park                                   2
9            9      Downers Grove                                   2
10          10              Elgin                                   1
11          11  Elk Grove Village                                   2
12          12           Evanston                                   4
13          13             Geneva                                   1
14          14          Grayslake                                   1
15          15    Hoffman Estates                                   3
16          16          La Grange                                   3
17          17         Northbrook                                   3
18          18           Oak Park                                   5
19          19             Peoria                                   1
20          20         Schaumburg                                   2
21          21    Rolling Meadows                                   1
22          22        Springfield                                   3
23          23           Waukegan                                   3
24          24           Wilmette                                   3
25          25            Batavia                                   3
26          26         Beach Park                                   4
27          28             Skokie                                   5

    GHG Emissions Inventory  Climate Change Risk Assessment (CCRA)  \
0                         3                                      5
1                         0                                      0
2                         0                                      0
3                         0                                      0
4                         0                                      0
5                         2                                      2
6                         0                                      0
7                         0                                      1
8                         0                                      1
9                         0                                      2
10                        3                                      0
11                        0                                      0
12                        3                                      6
13                        0                                      0
14                        0                                      0
15                        0                                      0
16                        1                                      0
17                        3                                      2
18                        2                                      3
19                        0                                      0
20                        0                                      0
21                        0                                      2
22                        0                                      0
23                        2                                      2
24                        1                                      1
25                        0                                      0
26                        0                                      1
27                        2                                      6

    City Needs Assessment  Strategy Identification  \
0                       0                        5
1                       0                        1
2                       0                        2
3                       1                        5
4                       1                        5
5                       1                        5
6                       1                        2
7                       0                        4
8                       1                        4
9                       0                        5
10                      0                        1
11                      1                        1
12                      2                        9
13                      0                        2
14                      1                        5
15                      1                        5
16                      1                        2
17                      1                        6
18                      1                        9
19                      1                        3
20                      1                        5
21                      0                        4
22                      2                        5
23                      1                        6
24                      0                        5
25                      0                        1
26                      1                        0
27                      1                        9

    Action Prioritization & Detailing  Equity & Inclusivity  \
0                                   2                     3
1                                   0                     0
2                                   3                     0
3                                   4                     3
4                                   3                     3
5                                   3                     3
6                                   2                     0
7                                   1                     0
8                                   2                     1
9                                   2                     1
10                                  0                     2
11                                  2                     0
12                                  4                     5
13                                  0                     0
14                                  3                     1
15                                  3                     3
16                                  1                     1
17                                  4                     2
18                                  4                     5
19                                  4                     1
20                                  2                     1
21                                  1                     1
22                                  4                     3
23                                  3                     2
24                                  2                     1
25                                  4                     2
26                                  0                     0
27                                  5                     5

    Monitoring, Evaluation & Reporting (MER)  Cluster  Population  \
0                                          4        2       29700
1                                          1        0       17668
2                                          3        1        1013
3                                          4        1       52736
4                                          3        1       18978
5                                          4        2       21857
6                                          1        0        6171
7                                          1        0       70522
8                                          3        1        3681
9                                          3        1       50247
10                                         0        0      114797
11                                         2        1       32812
12                                         5        2       78110
13                                         0        0       20981
14                                         2        1       21248
15                                         4        1       52530
16                                         1        0       16321
17                                         4        2       33170
18                                         5        2       54583
19                                         3        1      113150
20                                         3        1       78723
21                                         2        0       24190
22                                         2        1      114394
23                                         4        2       89321
24                                         2        0       27087
25                                         2        1       26181
26                                         0        0       13926
27                                         4        2       67824

    Median Income  Mean Income  Population with Bachelors Degree and more  \
0          131753       146691                                       6328
1           67557        81864                                       1829
2          195625       372745                                        292
3           66350        92868                                      10791
4          108429       126746                                       3566
5           29670        53080                                       2933
6           78132       121017                                       1058
7           50809        71363                                       7409
8          160750       257855                                       1089
9          119649       163851                                      13096
10          88316       104679                                      14533
11          95216       115925                                       7676
12          95766       159197                                      17413
13         136621       180050                                       6009
14         113697       139637                                       5205
15         109683       135060                                      14680
16         154556       210646                                       4002
17         155321       218418                                      10232
18         108026       157707                                      13723
19          58716        88223                                      18306
20          94690       117561                                      17993
21         100424       123360                                       5357
22          65537        90206                                      16998
23          70578        89220                                      10087
24         192300       291930                                       7393
25         119167       141449                                       6156
26          83069        89481                                       1075
27          93550       122649                                      19542

      Revenue  Population Cluster
0    52072812                   2
1    66064872                   2
2     6364217                   2
3    92112311                   1
4    53816011                   2
5    65929193                   2
6    29831020                   2
7   227362347                   1
8     7258301                   2
9   161246384                   1
10  354484228                   0
11  222658085                   2
12  329658346                   0
13  107272052                   2
14   35093651                   2
15  170819023                   1
16   41892655                   2
17  129248967                   2
18  175465893                   1
19    2144450                   0
20  327221134                   0
21  103207492                   2
22  623825504                   0
23  216675376                   0
24  101587202                   2
25  122119182                   2
26   11082043                   2
27  193427312                   1

Cluster Centers (Mean Population for each cluster):
[[98082.5       ]
 [58073.66666667]
 [19686.5       ]]

In [ ]:
# Step 1: Ensure necessary libraries are imported (already done if you ran the previous code)
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np


print("DataFrame before adding Mean Income Cluster:")
print(df)
print("-" * 50) # Separator

# Step 2: Prepare the 'Mean Income' data for K-Means
# Select the 'Mean Income' column and reshape it.
mean_income_data = df['Mean Income'].values.reshape(-1, 1)

# Step 3: Initialize and fit the K-Means model for 'Mean Income'
# We'll use k=3 again. You can use a different random_state if you want potentially different
# initializations, or keep it the same. For consistency in teaching, let's use a different one
# or demonstrate that a new model instance is indeed separate.
kmeans_income = KMeans(n_clusters=3, random_state=123, n_init='auto') # Using a different random_state for this model
kmeans_income.fit(mean_income_data)

# Step 4: Add the 'Mean Income' cluster labels to the DataFrame
# The cluster assignments are stored in kmeans_income.labels_
df['Mean Income Cluster'] = kmeans_income.labels_

# Display the DataFrame with the new 'Mean Income Cluster' column
print("\nDataFrame with Population and Mean Income Clusters:")
print(df)

# You can also check the cluster centers for the income clusters
print("\nIncome Cluster Centers (Mean Income for each cluster):")
print(kmeans_income.cluster_centers_)

DataFrame before adding Mean Income Cluster:
    Unnamed: 0               city  Stakeholder & Community Engagement  \
0            0          Algonquin                                   4
1            1              Alsip                                   0
2            2        Bannockburn                                   2
3            3             Normal                                   4
4            4         Brookfield                                   4
5            5         Carbondale                                   4
6            6        Countryside                                   2
7            7            Decatur                                   2
8            8          Deer Park                                   2
9            9      Downers Grove                                   2
10          10              Elgin                                   1
11          11  Elk Grove Village                                   2
12          12           Evanston                                   4
13          13             Geneva                                   1
14          14          Grayslake                                   1
15          15    Hoffman Estates                                   3
16          16          La Grange                                   3
17          17         Northbrook                                   3
18          18           Oak Park                                   5
19          19             Peoria                                   1
20          20         Schaumburg                                   2
21          21    Rolling Meadows                                   1
22          22        Springfield                                   3
23          23           Waukegan                                   3
24          24           Wilmette                                   3
25          25            Batavia                                   3
26          26         Beach Park                                   4
27          28             Skokie                                   5

    GHG Emissions Inventory  Climate Change Risk Assessment (CCRA)  \
0                         3                                      5
1                         0                                      0
2                         0                                      0
3                         0                                      0
4                         0                                      0
5                         2                                      2
6                         0                                      0
7                         0                                      1
8                         0                                      1
9                         0                                      2
10                        3                                      0
11                        0                                      0
12                        3                                      6
13                        0                                      0
14                        0                                      0
15                        0                                      0
16                        1                                      0
17                        3                                      2
18                        2                                      3
19                        0                                      0
20                        0                                      0
21                        0                                      2
22                        0                                      0
23                        2                                      2
24                        1                                      1
25                        0                                      0
26                        0                                      1
27                        2                                      6

    City Needs Assessment  Strategy Identification  \
0                       0                        5
1                       0                        1
2                       0                        2
3                       1                        5
4                       1                        5
5                       1                        5
6                       1                        2
7                       0                        4
8                       1                        4
9                       0                        5
10                      0                        1
11                      1                        1
12                      2                        9
13                      0                        2
14                      1                        5
15                      1                        5
16                      1                        2
17                      1                        6
18                      1                        9
19                      1                        3
20                      1                        5
21                      0                        4
22                      2                        5
23                      1                        6
24                      0                        5
25                      0                        1
26                      1                        0
27                      1                        9

    Action Prioritization & Detailing  Equity & Inclusivity  \
0                                   2                     3
1                                   0                     0
2                                   3                     0
3                                   4                     3
4                                   3                     3
5                                   3                     3
6                                   2                     0
7                                   1                     0
8                                   2                     1
9                                   2                     1
10                                  0                     2
11                                  2                     0
12                                  4                     5
13                                  0                     0
14                                  3                     1
15                                  3                     3
16                                  1                     1
17                                  4                     2
18                                  4                     5
19                                  4                     1
20                                  2                     1
21                                  1                     1
22                                  4                     3
23                                  3                     2
24                                  2                     1
25                                  4                     2
26                                  0                     0
27                                  5                     5

    Monitoring, Evaluation & Reporting (MER)  Cluster  Population  \
0                                          4        2       29700
1                                          1        0       17668
2                                          3        1        1013
3                                          4        1       52736
4                                          3        1       18978
5                                          4        2       21857
6                                          1        0        6171
7                                          1        0       70522
8                                          3        1        3681
9                                          3        1       50247
10                                         0        0      114797
11                                         2        1       32812
12                                         5        2       78110
13                                         0        0       20981
14                                         2        1       21248
15                                         4        1       52530
16                                         1        0       16321
17                                         4        2       33170
18                                         5        2       54583
19                                         3        1      113150
20                                         3        1       78723
21                                         2        0       24190
22                                         2        1      114394
23                                         4        2       89321
24                                         2        0       27087
25                                         2        1       26181
26                                         0        0       13926
27                                         4        2       67824

    Median Income  Mean Income  Population with Bachelors Degree and more  \
0          131753       146691                                       6328
1           67557        81864                                       1829
2          195625       372745                                        292
3           66350        92868                                      10791
4          108429       126746                                       3566
5           29670        53080                                       2933
6           78132       121017                                       1058
7           50809        71363                                       7409
8          160750       257855                                       1089
9          119649       163851                                      13096
10          88316       104679                                      14533
11          95216       115925                                       7676
12          95766       159197                                      17413
13         136621       180050                                       6009
14         113697       139637                                       5205
15         109683       135060                                      14680
16         154556       210646                                       4002
17         155321       218418                                      10232
18         108026       157707                                      13723
19          58716        88223                                      18306
20          94690       117561                                      17993
21         100424       123360                                       5357
22          65537        90206                                      16998
23          70578        89220                                      10087
24         192300       291930                                       7393
25         119167       141449                                       6156
26          83069        89481                                       1075
27          93550       122649                                      19542

      Revenue  Population Cluster
0    52072812                   2
1    66064872                   2
2     6364217                   2
3    92112311                   1
4    53816011                   2
5    65929193                   2
6    29831020                   2
7   227362347                   1
8     7258301                   2
9   161246384                   1
10  354484228                   0
11  222658085                   2
12  329658346                   0
13  107272052                   2
14   35093651                   2
15  170819023                   1
16   41892655                   2
17  129248967                   2
18  175465893                   1
19    2144450                   0
20  327221134                   0
21  103207492                   2
22  623825504                   0
23  216675376                   0
24  101587202                   2
25  122119182                   2
26   11082043                   2
27  193427312                   1
--------------------------------------------------

DataFrame with Population and Mean Income Clusters:
    Unnamed: 0               city  Stakeholder & Community Engagement  \
0            0          Algonquin                                   4
1            1              Alsip                                   0
2            2        Bannockburn                                   2
3            3             Normal                                   4
4            4         Brookfield                                   4
5            5         Carbondale                                   4
6            6        Countryside                                   2
7            7            Decatur                                   2
8            8          Deer Park                                   2
9            9      Downers Grove                                   2
10          10              Elgin                                   1
11          11  Elk Grove Village                                   2
12          12           Evanston                                   4
13          13             Geneva                                   1
14          14          Grayslake                                   1
15          15    Hoffman Estates                                   3
16          16          La Grange                                   3
17          17         Northbrook                                   3
18          18           Oak Park                                   5
19          19             Peoria                                   1
20          20         Schaumburg                                   2
21          21    Rolling Meadows                                   1
22          22        Springfield                                   3
23          23           Waukegan                                   3
24          24           Wilmette                                   3
25          25            Batavia                                   3
26          26         Beach Park                                   4
27          28             Skokie                                   5

    GHG Emissions Inventory  Climate Change Risk Assessment (CCRA)  \
0                         3                                      5
1                         0                                      0
2                         0                                      0
3                         0                                      0
4                         0                                      0
5                         2                                      2
6                         0                                      0
7                         0                                      1
8                         0                                      1
9                         0                                      2
10                        3                                      0
11                        0                                      0
12                        3                                      6
13                        0                                      0
14                        0                                      0
15                        0                                      0
16                        1                                      0
17                        3                                      2
18                        2                                      3
19                        0                                      0
20                        0                                      0
21                        0                                      2
22                        0                                      0
23                        2                                      2
24                        1                                      1
25                        0                                      0
26                        0                                      1
27                        2                                      6

    City Needs Assessment  Strategy Identification  \
0                       0                        5
1                       0                        1
2                       0                        2
3                       1                        5
4                       1                        5
5                       1                        5
6                       1                        2
7                       0                        4
8                       1                        4
9                       0                        5
10                      0                        1
11                      1                        1
12                      2                        9
13                      0                        2
14                      1                        5
15                      1                        5
16                      1                        2
17                      1                        6
18                      1                        9
19                      1                        3
20                      1                        5
21                      0                        4
22                      2                        5
23                      1                        6
24                      0                        5
25                      0                        1
26                      1                        0
27                      1                        9

    Action Prioritization & Detailing  Equity & Inclusivity  \
0                                   2                     3
1                                   0                     0
2                                   3                     0
3                                   4                     3
4                                   3                     3
5                                   3                     3
6                                   2                     0
7                                   1                     0
8                                   2                     1
9                                   2                     1
10                                  0                     2
11                                  2                     0
12                                  4                     5
13                                  0                     0
14                                  3                     1
15                                  3                     3
16                                  1                     1
17                                  4                     2
18                                  4                     5
19                                  4                     1
20                                  2                     1
21                                  1                     1
22                                  4                     3
23                                  3                     2
24                                  2                     1
25                                  4                     2
26                                  0                     0
27                                  5                     5

    Monitoring, Evaluation & Reporting (MER)  Cluster  Population  \
0                                          4        2       29700
1                                          1        0       17668
2                                          3        1        1013
3                                          4        1       52736

In [ ]:
# Step 1: Ensure necessary libraries are imported (already done if you ran the previous code)
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np

# --- Assuming your DataFrame 'df' is already loaded ---
# and contains 'Population Cluster' and 'Mean Income Cluster'
# If you are running this in a new session, you'll need to recreate or load df
# and potentially run the previous clustering steps if you want all columns.
# For continuation, df already exists with the previous cluster columns.
print("DataFrame before adding Bachelors Pop Cluster:")
print(df)
print("-" * 70) # Separator


bachelors_col_name = 'Population with Bachelors Degree and more'
bachelors_data = df[bachelors_col_name].values.reshape(-1, 1)

# Step 3: Initialize and fit the K-Means model for 'Population with Bachelors Degree and more'
# We'll use k=3 again.
# Let's use a different random_state for this model instance for clarity.
kmeans_bachelors = KMeans(n_clusters=3, random_state=234, n_init='auto') # Yet another random_state
kmeans_bachelors.fit(bachelors_data)

# Step 4: Add the 'Population with Bachelors Degree and more' cluster labels to the DataFrame
# The cluster assignments are stored in kmeans_bachelors.labels_
df['Bachelors Pop Cluster'] = kmeans_bachelors.labels_

# Display the DataFrame with all three cluster columns
print("\nDataFrame with Population, Mean Income, and Bachelors Pop Clusters:")
print(df)

# You can also check the cluster centers for this new clustering
print(f"\nBachelors Pop Cluster Centers (Mean '{bachelors_col_name}' for each cluster):")
print(kmeans_bachelors.cluster_centers_)

DataFrame before adding Bachelors Pop Cluster:
    Unnamed: 0               city  Stakeholder & Community Engagement  \
0            0          Algonquin                                   4
1            1              Alsip                                   0
2            2        Bannockburn                                   2
3            3             Normal                                   4
4            4         Brookfield                                   4
5            5         Carbondale                                   4
6            6        Countryside                                   2
7            7            Decatur                                   2
8            8          Deer Park                                   2
9            9      Downers Grove                                   2
10          10              Elgin                                   1
11          11  Elk Grove Village                                   2
12          12           Evanston                                   4
13          13             Geneva                                   1
14          14          Grayslake                                   1
15          15    Hoffman Estates                                   3
16          16          La Grange                                   3
17          17         Northbrook                                   3
18          18           Oak Park                                   5
19          19             Peoria                                   1
20          20         Schaumburg                                   2
21          21    Rolling Meadows                                   1
22          22        Springfield                                   3
23          23           Waukegan                                   3
24          24           Wilmette                                   3
25          25            Batavia                                   3
26          26         Beach Park                                   4
27          28             Skokie                                   5

    GHG Emissions Inventory  Climate Change Risk Assessment (CCRA)  \
0                         3                                      5
1                         0                                      0
2                         0                                      0
3                         0                                      0
4                         0                                      0
5                         2                                      2
6                         0                                      0
7                         0                                      1
8                         0                                      1
9                         0                                      2
10                        3                                      0
11                        0                                      0
12                        3                                      6
13                        0                                      0
14                        0                                      0
15                        0                                      0
16                        1                                      0
17                        3                                      2
18                        2                                      3
19                        0                                      0
20                        0                                      0
21                        0                                      2
22                        0                                      0
23                        2                                      2
24                        1                                      1
25                        0                                      0
26                        0                                      1
27                        2                                      6

    City Needs Assessment  Strategy Identification  \
0                       0                        5
1                       0                        1
2                       0                        2
3                       1                        5
4                       1                        5
5                       1                        5
6                       1                        2
7                       0                        4
8                       1                        4
9                       0                        5
10                      0                        1
11                      1                        1
12                      2                        9
13                      0                        2
14                      1                        5
15                      1                        5
16                      1                        2
17                      1                        6
18                      1                        9
19                      1                        3
20                      1                        5
21                      0                        4
22                      2                        5
23                      1                        6
24                      0                        5
25                      0                        1
26                      1                        0
27                      1                        9

    Action Prioritization & Detailing  Equity & Inclusivity  \
0                                   2                     3
1                                   0                     0
2                                   3                     0
3                                   4                     3
4                                   3                     3
5                                   3                     3
6                                   2                     0
7                                   1                     0
8                                   2                     1
9                                   2                     1
10                                  0                     2
11                                  2                     0
12                                  4                     5
13                                  0                     0
14                                  3                     1
15                                  3                     3
16                                  1                     1
17                                  4                     2
18                                  4                     5
19                                  4                     1
20                                  2                     1
21                                  1                     1
22                                  4                     3
23                                  3                     2
24                                  2                     1
25                                  4                     2
26                                  0                     0
27                                  5                     5

    Monitoring, Evaluation & Reporting (MER)  Cluster  Population  \
0                                          4        2       29700
1                                          1        0       17668
2                                          3        1        1013
3                                          4        1       52736
4                                          3        1       18978
5                                          4        2       21857
6                                          1        0        6171
7                                          1        0       70522
8                                          3        1        3681
9                                          3        1       50247
10                                         0        0      114797
11                                         2        1       32812
12                                         5        2       78110
13                                         0        0       20981
14                                         2        1       21248
15                                         4        1       52530
16                                         1        0       16321
17                                         4        2       33170
18                                         5        2       54583
19                                         3        1      113150
20                                         3        1       78723
21                                         2        0       24190
22                                         2        1      114394
23                                         4        2       89321
24                                         2        0       27087
25                                         2        1       26181
26                                         0        0       13926
27                                         4        2       67824

    Median Income  Mean Income  Population with Bachelors Degree and more  \
0          131753       146691                                       6328
1           67557        81864                                       1829
2          195625       372745                                        292
3           66350        92868                                      10791
4          108429       126746                                       3566
5           29670        53080                                       2933
6           78132       121017                                       1058
7           50809        71363                                       7409
8          160750       257855                                       1089
9          119649       163851                                      13096
10          88316       104679                                      14533
11          95216       115925                                       7676
12          95766       159197                                      17413
13         136621       180050                                       6009
14         113697       139637                                       5205
15         109683       135060                                      14680
16         154556       210646                                       4002
17         155321       218418                                      10232
18         108026       157707                                      13723
19          58716        88223                                      18306
20          94690       117561                                      17993
21         100424       123360                                       5357
22          65537        90206                                      16998
23          70578        89220                                      10087
24         192300       291930                                       7393
25         119167       141449                                       6156
26          83069        89481                                       1075
27          93550       122649                                      19542

      Revenue  Population Cluster  Mean Income Cluster
0    52072812                   2                    1
1    66064872                   2                    0
2     6364217                   2                    2
3    92112311                   1                    0
4    53816011                   2                    0
5    65929193                   2                    0
6    29831020                   2                    0
7   227362347                   1                    0
8     7258301                   2                    2
9   161246384                   1                    1
10  354484228                   0                    0
11  222658085                   2                    0
12  329658346                   0                    1
13  107272052                   2                    1
14   35093651                   2                    1
15  170819023                   1                    1
16   41892655                   2                    1
17  129248967                   2                    1
18  175465893                   1                    1
19    2144450                   0                    0
20  327221134                   0                    0
21  103207492                   2                    0
22  623825504                   0                    0
23  216675376                   0                    0
24  101587202                   2                    2
25  122119182                   2                    1
26   11082043                   2                    0
27  193427312                   1                    0
----------------------------------------------------------------------

DataFrame with Population, Mean Income, and Bachelors Pop Clusters:
    Unnamed: 0               city  Stakeholder & Community Engagement  \
0            0          Algonquin                                   4
1            1              Alsip                                   0
2            2        Bannockburn                                   2
3            3             Normal                                   4
4            4         Brookfield                                   4
5            5         Carbondale                                   4
6            6        Countryside                                   2
7            7            Decatur                                   2
8            8          Deer Park                                   2
9            9      Downers Grove                                   2
10          10              Elgin                                   1
11          11  Elk Grove Village                                   2
12          12           Evanston                                   4
13          13             Geneva                                   1
14          14          Grayslake                                   1
15          15    Hoffman Estates                                   3
16          16          La Grange                                   3
17          17         Northbrook                                   3
18          18           Oak Park                                   5
19          19             Peoria                                   1
20          20         Schaumburg                                   2
21          21    Rolling Meadows                                   1
22          22        Springfield                                   3
23          23           Waukegan                                   3
24          24           Wilmette                                   3
25          25            Batavia                                   3
26          26         Beach Park                                   4
27          28             Skokie                                   5

    GHG Emissions Inventory  Climate Change Risk Assessment (CCRA)  \
0                         3                                      5
1                         0                                      0
2                         0                                      0
3                         0                                      0
4                         0                                      0
5                         2                                      2
6                         0                                      0
7                         0                                      1
8                         0                                      1
9                         0                                      2
10                        3                                      0
11                        0                                      0
12                        3                                      6
13                        0                                      0
14                        0                                      0
15                        0                                      0
16                        1                                      0
17                        3                                      2
18                        2                                      3
19                        0                                      0
20                        0                                      0
21                        0                                      2
22                        0                                      0
23                        2                                      2
24                        1                                      1
25                        0                                      0
26                        0                                      1
27                        2                                      6

    City Needs Assessment  Strategy Identification  \
0                       0                        5
1                       0                        1
2                       0                        2
3                       1                        5
4                       1                        5
5                       1                        5
6                       1                        2
7                       0                        4
8                       1                        4
9                       0                        5
10                      0                        1
11                      1                        1
12                      2                        9
13                      0                        2
14                      1                        5
15                      1                        5
16                      1                        2
17                      1                        6
18                      1                        9
19                      1                        3
20                      1                        5
21                      0                        4
22                      2                        5
23                      1                        6
24                      0                        5
25                      0                        1
26                      1                        0
27                      1                        9

    Action Prioritization & Detailing  Equity & Inclusivity  \
0                                   2                     3
1                                   0                     0
2                                   3                     0
3                                   4                     3
4                                   3                     3
5                                   3                     3
6                                   2                     0
7                                   1                     0
8                                   2                     1
9                                   2                     1
10                                  0                     2
11                                  2                     0
12                                  4                     5
13                                  0                     0
14                                  3                     1
15                                  3                     3
16                                  1                     1
17                                  4                     2
18                                  4                     5
19                                  4                     1
20                                  2                     1
21                                  1                     1
22                                  4                     3

In [ ]:
print("DataFrame before adding Revenue Cluster:")
print(df)
print("-" * 70) # Separator

# Step 2: Prepare the 'Revenue' data for K-Means
# Check if the 'Revenue' column exists before proceeding
if 'Revenue' in df.columns:
    revenue_data = df['Revenue'].values.reshape(-1, 1)

    # Step 3: Initialize and fit the K-Means model for 'Revenue'
    # We'll use k=3.
    kmeans_revenue = KMeans(n_clusters=3, random_state=345, n_init='auto') # Another distinct random_state
    kmeans_revenue.fit(revenue_data)

    # Step 4: Add the 'Revenue' cluster labels to the DataFrame
    # The cluster assignments are stored in kmeans_revenue.labels_
    df['Revenue Cluster'] = kmeans_revenue.labels_

    # Display the DataFrame with all cluster columns, including 'Revenue Cluster'
    print("\nDataFrame with all applied Clusters (including Revenue):")
    print(df)

    # You can also check the cluster centers for this new clustering
    print(f"\nRevenue Cluster Centers (Mean 'Revenue' for each cluster):")
    print(kmeans_revenue.cluster_centers_)
else:
    print("\nError: 'Revenue' column not found in the DataFrame.")
    print("Please ensure the DataFrame 'df' contains a column named 'Revenue'.")

DataFrame before adding Revenue Cluster:
    Unnamed: 0               city  Stakeholder & Community Engagement  \
0            0          Algonquin                                   4
1            1              Alsip                                   0
2            2        Bannockburn                                   2
3            3             Normal                                   4
4            4         Brookfield                                   4
5            5         Carbondale                                   4
6            6        Countryside                                   2
7            7            Decatur                                   2
8            8          Deer Park                                   2
9            9      Downers Grove                                   2
10          10              Elgin                                   1
11          11  Elk Grove Village                                   2
12          12           Evanston                                   4
13          13             Geneva                                   1
14          14          Grayslake                                   1
15          15    Hoffman Estates                                   3
16          16          La Grange                                   3
17          17         Northbrook                                   3
18          18           Oak Park                                   5
19          19             Peoria                                   1
20          20         Schaumburg                                   2
21          21    Rolling Meadows                                   1
22          22        Springfield                                   3
23          23           Waukegan                                   3
24          24           Wilmette                                   3
25          25            Batavia                                   3
26          26         Beach Park                                   4
27          28             Skokie                                   5

    GHG Emissions Inventory  Climate Change Risk Assessment (CCRA)  \
0                         3                                      5
1                         0                                      0
2                         0                                      0
3                         0                                      0
4                         0                                      0
5                         2                                      2
6                         0                                      0
7                         0                                      1
8                         0                                      1
9                         0                                      2
10                        3                                      0
11                        0                                      0
12                        3                                      6
13                        0                                      0
14                        0                                      0
15                        0                                      0
16                        1                                      0
17                        3                                      2
18                        2                                      3
19                        0                                      0
20                        0                                      0
21                        0                                      2
22                        0                                      0
23                        2                                      2
24                        1                                      1
25                        0                                      0
26                        0                                      1
27                        2                                      6

    City Needs Assessment  Strategy Identification  \
0                       0                        5
1                       0                        1
2                       0                        2
3                       1                        5
4                       1                        5
5                       1                        5
6                       1                        2
7                       0                        4
8                       1                        4
9                       0                        5
10                      0                        1
11                      1                        1
12                      2                        9
13                      0                        2
14                      1                        5
15                      1                        5
16                      1                        2
17                      1                        6
18                      1                        9
19                      1                        3
20                      1                        5
21                      0                        4
22                      2                        5
23                      1                        6
24                      0                        5
25                      0                        1
26                      1                        0
27                      1                        9

    Action Prioritization & Detailing  Equity & Inclusivity  \
0                                   2                     3
1                                   0                     0
2                                   3                     0
3                                   4                     3
4                                   3                     3
5                                   3                     3
6                                   2                     0
7                                   1                     0
8                                   2                     1
9                                   2                     1
10                                  0                     2
11                                  2                     0
12                                  4                     5
13                                  0                     0
14                                  3                     1
15                                  3                     3
16                                  1                     1
17                                  4                     2
18                                  4                     5
19                                  4                     1
20                                  2                     1
21                                  1                     1
22                                  4                     3
23                                  3                     2
24                                  2                     1
25                                  4                     2
26                                  0                     0
27                                  5                     5

    Monitoring, Evaluation & Reporting (MER)  Cluster  Population  \
0                                          4        2       29700
1                                          1        0       17668
2                                          3        1        1013
3                                          4        1       52736
4                                          3        1       18978
5                                          4        2       21857
6                                          1        0        6171
7                                          1        0       70522
8                                          3        1        3681
9                                          3        1       50247
10                                         0        0      114797
11                                         2        1       32812
12                                         5        2       78110
13                                         0        0       20981
14                                         2        1       21248
15                                         4        1       52530
16                                         1        0       16321
17                                         4        2       33170
18                                         5        2       54583
19                                         3        1      113150
20                                         3        1       78723
21                                         2        0       24190
22                                         2        1      114394
23                                         4        2       89321
24                                         2        0       27087
25                                         2        1       26181
26                                         0        0       13926
27                                         4        2       67824

    Median Income  Mean Income  Population with Bachelors Degree and more  \
0          131753       146691                                       6328
1           67557        81864                                       1829
2          195625       372745                                        292
3           66350        92868                                      10791
4          108429       126746                                       3566
5           29670        53080                                       2933
6           78132       121017                                       1058
7           50809        71363                                       7409
8          160750       257855                                       1089
9          119649       163851                                      13096
10          88316       104679                                      14533
11          95216       115925                                       7676
12          95766       159197                                      17413
13         136621       180050                                       6009
14         113697       139637                                       5205
15         109683       135060                                      14680
16         154556       210646                                       4002
17         155321       218418                                      10232
18         108026       157707                                      13723
19          58716        88223                                      18306
20          94690       117561                                      17993
21         100424       123360                                       5357
22          65537        90206                                      16998
23          70578        89220                                      10087
24         192300       291930                                       7393
25         119167       141449                                       6156
26          83069        89481                                       1075
27          93550       122649                                      19542

      Revenue  Population Cluster  Mean Income Cluster  Bachelors Pop Cluster
0    52072812                   2                    1                      0
1    66064872                   2                    0                      2
2     6364217                   2                    2                      2
3    92112311                   1                    0                      0
4    53816011                   2                    0                      2
5    65929193                   2                    0                      2
6    29831020                   2                    0                      2
7   227362347                   1                    0                      0
8     7258301                   2                    2                      2
9   161246384                   1                    1                      1
10  354484228                   0                    0                      1
11  222658085                   2                    0                      0
12  329658346                   0                    1                      1
13  107272052                   2                    1                      0
14   35093651                   2                    1                      0
15  170819023                   1                    1                      1
16   41892655                   2                    1                      2
17  129248967                   2                    1                      0
18  175465893                   1                    1                      1
19    2144450                   0                    0                      1
20  327221134                   0                    0                      1
21  103207492                   2                    0                      0
22  623825504                   0                    0                      1
23  216675376                   0                    0                      0
24  101587202                   2                    2                      0
25  122119182                   2                    1                      0
26   11082043                   2                    0                      2
27  193427312                   1                    0                      1
----------------------------------------------------------------------

DataFrame with all applied Clusters (including Revenue):
    Unnamed: 0               city  Stakeholder & Community Engagement  \
0            0          Algonquin                                   4
1            1              Alsip                                   0
2            2        Bannockburn                                   2
3            3             Normal                                   4
4            4         Brookfield                                   4
5            5         Carbondale                                   4
6            6        Countryside                                   2
7            7            Decatur                                   2
8            8          Deer Park                                   2
9            9      Downers Grove                                   2
10          10              Elgin                                   1
11          11  Elk Grove Village                                   2
12          12           Evanston                                   4
13          13             Geneva                                   1
14          14          Grayslake                                   1
15          15    Hoffman Estates                                   3
16          16          La Grange                                   3
17          17         Northbrook                                   3
18          18           Oak Park                                   5
19          19             Peoria                                   1
20          20         Schaumburg                                   2
21          21    Rolling Meadows                                   1
22          22        Springfield                                   3
23          23           Waukegan                                   3
24          24           Wilmette                                   3
25          25            Batavia                                   3
26          26         Beach Park                                   4
27          28             Skokie                                   5

    GHG Emissions Inventory  Climate Change Risk Assessment (CCRA)  \
0                         3                                      5
1                         0                                      0
2                         0                                      0
3                         0                                      0
4                         0                                      0
5                         2                                      2
6                         0                                      0
7                         0                                      1
8                         0                                      1
9                         0                                      2
10                        3                                      0
11                        0                                      0
12                        3                                      6
13                        0                                      0
14                        0                                      0
15                        0                                      0
16                        1                                      0
17                        3                                      2
18                        2                                      3
19                        0                                      0
20                        0                                      0
21                        0                                      2
22                        0                                      0
23                        2                                      2
24                        1                                      1
25                        0                                      0
26                        0                                      1
27                        2                                      6

    City Needs Assessment  Strategy Identification  \
0                       0                        5
1                       0                        1
2                       0                        2
3                       1                        5
4                       1                        5
5                       1                        5
6                       1                        2
7                       0                        4
8                       1                        4
9                       0                        5
10                      0                        1
11                      1                        1
12                      2                        9
13                      0                        2
14                      1                        5
15                      1                        5
16                      1                        2
17                      1                        6
18                      1                        9
19                      1                        3
20                      1                        5
21                      0                        4
22                      2                        5
23                      1                        6
24                      0                        5
25                      0                        1
26                      1                        0
27                      1                        9

    Action Prioritization & Detailing  Equity & Inclusivity  \
0                                   2                     3
1                                   0                     0
2                                   3                     0
3                                   4                     3
4                                   3                     3
5                                   3                     3
6                                   2                     0
7                                   1                     0
8                                   2                     1
9                                   2                     1
10                                  0                     2
11                                  2                     0

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import statsmodels.formula.api as smf
import numpy as np



feature_columns = ['Population', 'Mean Income', 'Population with Bachelors Degree and more', 'Revenue']
X = df[feature_columns]
y = df['Cluster']

# --- 2. Normalize the Independent Variables ---
# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to your features and transform them
X_scaled = scaler.fit_transform(X)

# Convert the scaled array back to a DataFrame with original column names
X_scaled_df = pd.DataFrame(X_scaled, columns=feature_columns, index=df.index)

# --- 3. Combine Scaled Features with Dependent Variable for statsmodels ---
# statsmodels formula API works well with a single DataFrame
df_scaled = pd.concat([X_scaled_df, y], axis=1)

# For statsmodels, it's often easier if column names don't have spaces or special characters.
# Let's rename them for the formula.
df_scaled.rename(columns={
    'Mean Income': 'Mean_Income',
    'Population with Bachelors Degree and more': 'Pop_Bachelors_Plus'
}, inplace=True)

# Update feature_columns list if you renamed them
formula_feature_columns = ['Population', 'Mean_Income', 'Pop_Bachelors_Plus', 'Revenue']

# --- 4. Run Multinomial Logistic Regression ---
# Create the formula for the model.
# The model will predict 'Cluster' based on the scaled features.
# 'Cluster' is the dependent variable, and the rest are independent variables.
# statsmodels will automatically use the lowest value of 'Cluster' (i.e., 0) as the reference category.
formula = 'Cluster ~ ' + ' + '.join(formula_feature_columns)

# Fit the multinomial logistic regression model
# The `data=df_scaled` argument tells the model where to find the variables.
# `MNLogit` is the class for Multinomial Logit models.
model = smf.mnlogit(formula, data=df_scaled)
results = model.fit()

# --- 5. Display the Summary Table ---
# The summary table contains coefficients, standard errors, z-scores, p-values, and confidence intervals.
print("Multinomial Logistic Regression Results Summary:")
print(results.summary())

# --- 6. Extracting Coefficients and P-values specifically ---
# The summary() method is great, but if you want to programmatically access them:
# The parameters are organized by the outcome category.
# For example, params for predicting Cluster '1' vs Cluster '0' (reference)
# and Cluster '2' vs Cluster '0' (reference).

print("\n--- Coefficients ---")
print(results.params)

print("\n--- P-Values ---")
print(results.pvalues)

Optimization terminated successfully.
         Current function value: 0.925715
         Iterations 7
Multinomial Logistic Regression Results Summary:
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                Cluster   No. Observations:                   28
Model:                        MNLogit   Df Residuals:                       18
Method:                           MLE   Df Model:                            8
Date:                Sun, 18 May 2025   Pseudo R-squ.:                  0.1385
Time:                        00:53:27   Log-Likelihood:                -25.920
converged:                       True   LL-Null:                       -30.086
Covariance Type:            nonrobust   LLR p-value:                    0.4016
======================================================================================
         Cluster=1       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              0.7263      0.614      1.183      0.237      -0.477       1.930
Population            -1.1176      1.300     -0.860      0.390      -3.665       1.430
Mean_Income            0.1613      0.497      0.324      0.746      -0.813       1.136
Pop_Bachelors_Plus     2.4174      1.383      1.748      0.080      -0.293       5.128
Revenue               -0.3472      0.911     -0.381      0.703      -2.134       1.439
--------------------------------------------------------------------------------------
         Cluster=2       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              0.0566      0.689      0.082      0.935      -1.294       1.407
Population            -1.6689      1.497     -1.115      0.265      -4.604       1.266
Mean_Income           -0.3086      0.774     -0.399      0.690      -1.826       1.208
Pop_Bachelors_Plus     3.1210      1.532      2.037      0.042       0.117       6.124
Revenue               -0.4022      0.964     -0.417      0.676      -2.291       1.487
======================================================================================

--- Coefficients ---
                           0         1
Intercept           0.726322  0.056618
Population         -1.117583 -1.668911
Mean_Income         0.161253 -0.308638
Pop_Bachelors_Plus  2.417448  3.120953
Revenue            -0.347179 -0.402247

--- P-Values ---
                           0         1
Intercept           0.236992  0.934521
Population          0.389871  0.265024
Mean_Income         0.745642  0.690048
Pop_Bachelors_Plus  0.080475  0.041691
Revenue             0.703263  0.676391